{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/frontendandroid/css/frontend.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/frontendandroid/js/frontend.js') }}"></script>
{% endblock %}

{% block title %}{{ 'menu.site_name'|trans }}{% endblock %}

{% block body %}

    <div id="content_header" class="content_header"></div>

    <div id="content_main">
        <div>
            {% block content_main %}
            {% endblock %}
        </div>
    </div>

    <div id="content_footer"></div>
{% endblock %}